.forgot-password {
  padding: 20px;
  margin: auto;
  width: 500px;
  margin-top: 20vh;
  background: antiquewhite;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.07), 0px 1px 10px rgba(0, 0, 0, 0.06);

  &_title {
    margin-bottom: 50px;
  }

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .MuiFormControl-root {
      width: 400px;
    }
  }

  &_bottom {
    margin: 20px 0;

    .already-account,
    .signin {
      font-size: 14px;
    }

    .already-account {
      color: red;
    }

    .signin {
      color: blue;
      font-weight: 600;
      cursor: pointer;
    }
  }

  .MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-fullWidth.MuiInputBase-formControl.css-md26zr-MuiInputBase-root-MuiOutlinedInput-root {
    background: white;
    width: 500px;
  }
}
