.tab-header {
  // padding: 10px 60px;
  background: aquamarine;

  .MuiBox-root.css-1gsv261 {
    border: none;
  }

  header.MuiPaper-root.MuiPaper-elevation.MuiPaper-elevation4.MuiAppBar-root.MuiAppBar-colorPrimary.MuiAppBar-positionStatic.css-hip9hq-MuiPaper-root-MuiAppBar-root {
    background: none;
  }

  a.MuiTypography-root.MuiTypography-h6.MuiTypography-noWrap.css-irj2qf-MuiTypography-root {
    margin: 0;
    padding-right: 60px;
  }
}
