.signIn {
  padding: 20px;
  width: 500px;
  background: antiquewhite;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.07), 0px 1px 10px rgba(0, 0, 0, 0.06);
  margin: auto;
  margin-top: 20vh;

  input {
    background: white;
  }

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &_forgot-password {
      width: 100%;
      text-align: left;
      color: blue;
      font-size: 14px;
      font-weight: 600;
      cursor: pointer;
      margin-bottom: 4px;
    }

    .MuiFormControl-root {
      width: 400px;
    }
  }

  &_not-account {
    color: red;
    font-size: 14px;
  }

  &_register-now {
    color: blue;
    font-size: 14px;
    font-weight: 600;
    cursor: pointer;
  }

  &_bottom {
    margin-bottom: 12px;
    margin-top: 20px;
  }
}
