.form-todo-formik {
    width: 100vw;
}

.form-todo {
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-errors {
        color: red;
        font-size: 12px;
        display: flex;
        justify-content: flex-start;
        margin: 0 0 24px 0;
    }

    &_left {
        display: flex;
        flex-direction: column;

        &_input {
            width: 693px;
            height: 22px;
            font-size: 16px;
            line-height: 22px;
            padding: 11px 16px;
            margin-bottom: 13px;
            font-size: 16px;
            background-color: #fcfcfd !important;
            border: 1px solid #b1b5c4;
            border-radius: 4px;
        }
        &_input::placeholder {
            color: b1b5c4;
            opacity: 1;
        }

        &_input:focus-visible,
        &_input:focus {
            outline: none;
        }
    }

    &_right {
        &_btn-submit {
            background: #f80000;
            width: 221px;
            height: 48px;
            color: #fcfcfd;
            font-size: 16px;
            line-height: 22px;
            margin-left: 48px;
            border-radius: 4px;
            border: none;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
    }
}
