.modal-container {
    display: flex;
}

.modal-input {
    display: flex;
    flex-direction: column;

    label {
        font-size: 20px;
        color: brown !important;
        font-weight: 500;
        margin: 24px 0 0px 0;
    }

    input {
        padding: 12px;
        font-size: 14px;
        color: #000000 ;
    }
}

div#\:r1\: {
    font-size: 30px;
    color: blue;
}
