.signUp {
  padding: 20px;
  background: lightyellow;
  border-radius: 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1), 0px 4px 5px rgba(0, 0, 0, 0.07), 0px 1px 10px rgba(0, 0, 0, 0.06);
  margin: auto;
  width: 500px;
  margin-top: 20vh;

  input {
    background: white;
  }

  &_form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .MuiFormControl-root {
      width: 400px;
    }
  }

  &_bottom {
    .already-account,
    .signin {
      font-size: 14px;
    }

    .already-account {
      color: red;
    }

    .signin {
      color: blue;
      font-weight: 600;
      cursor: pointer;
    }
  }
}
